
@{
    ViewBag.Title = "CheckoutEmpty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center;"><img src="~/Images/uhoh.png" style="max-width: 50%; opacity: 0.9; margin-top: 0px; margin-bottom: 50px;" /></h1>

<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-6" style="background: white;opacity: 0.9; float:none;margin:auto; border: 1px solid black;">
        <h2>Your shopping cart seems a bit <b>empty</b>... <br />Interested in some of our <a href="/Home/Supplements">Supplements?</a><br /> Perhaps in our <a href="/Home/Gear">Gear?</a></h2>
        <h2 style="text-align: center;"><img src="https://chillydraji.files.wordpress.com/2015/08/empty_cart.jpeg" /></h2>
    </div>
</div>