
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}
    <div style="text-align: center; position:relative; top: 20%;">
        <h2>Welcome to the Adming Dashboard Page!</h2>
        <br />
        <h5 style="font-weight:400;">Here you can <i>navigate</i> through the data tables, <i>add</i>,  <i>edit</i> and  <i>delete</i> elements.</h5>
        <h5 style="font-weight:400;">To leave this page just click <b>log out!</b></h5>
    </div>